@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');


$background-main: hsl(233, 47%, 7%);
$background-card: hsl(244, 37%, 16%);
$accent-color: hsl(277, 64%, 61%);

$stats-color: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-heading: hsla(0, 0%, 100%, 0.6);

$font-primary: "Inter", sans-serif;
$font-secondary: "Lexend Deca", sans-serif;